<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Watchlist</title>
    <link rel="stylesheet" href="../public/styles.css" />
</head>
<body>
  <h1>Welcome <%= username %>!</h1>
  <nav>
    <ul>
      <li><a href="/watchlist">My Watchlist</a></li>
      <li><a href="/search">Search Stocks</a></li>
      <li><a href="/alerts">Price Alerts</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
    
</body>
</html>