body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #78C0E0;

}

table, th, td {
    border: 1px solid black;
    padding: 10px;
    border: 1px solid black !important;
}

thead, th {
    background-color: #FF6B6B !important;
    color: white !important;
    border: 1px solid black !important;
}

.dash-container {
    border: 2px solid #333;
    border-radius: 4px;

    background-color:#FF6B6B;

    font-size: 1.25rem;

    padding : 0.5rem 1.5rem;
    margin : 0.5rem;
}

a {
    color : black;
}

.full-dash-container {
    width : 100vh;
    height: 60vh;
}

img {
    width : 300px;
    height : 200px;
}

.img-class {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.underline {
    text-decoration: underline;
}


.stock-container {
    
    height: 75vh;

    border: 2px solid #333;
    border-radius: 4px;

    background-color:#FF6B6B;

    font-size: 1.25rem;

    display: flex;            
    justify-content: center; 
    align-items: center;      
    width : 50%;
}

.result-container {
    background-color:#FF6B6B;
    height: 75vh;
    border: 2px solid #333;
    border-radius: 4px;
    width : 50%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.btn-refresh {
    display: inline-block;
    padding: 0.125em 0.25em;
    border: 2px solid #333;
    border-radius: 4px;
    background: white;
    font-size: 1rem;
    text-decoration: none;
    color: #333;
    cursor: pointer;
  }

.top-watchlist-container {
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
}
