<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Watchlist</title>
    <link rel="stylesheet" href="/styles.css" />
    
</head>
<body>
  <%- include('partials/header.ejs') %>
  <hr />
  <h1>Welcome, <%= firstName %>!</h1>
  <hr />
  <div class="full-dash-container">
    <nav>
      <ul>
        <div class="dash-container">
          <li><a href="/watchlist">My Watchlist</a></li>
        </div>
        <div class="dash-container">
          <li><a href="/search">Search Stocks</a></li>
        </div>
        <div class="dash-container">
          <li><a href="/alerts">Price Alerts</a></li>
        </div>
        <div class="dash-container">
          <li><a href="/logout">Logout</a></li>
        </div>
      </ul>
    </nav>
  </div> 

  <div class="img-class">
    <img src="images/stock-img-1.jpg" alt="photo of stocks 1"/>
    <img src="images/stock-img-2.jpg" alt="photo of stocks 2"/>
  </div>
    

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
<%- include('partials/footer.ejs') %>
</html>